# Python cache files
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/
env/

# Database and instance folder
# The entire 'instance' folder contains generated data and the database file.
# It should be ignored.
/instance/

# IDE and operating system files
.vscode/
.idea/
.DS_Store

# Temporary files created by your application
*.log